@import '../styles/globals.scss';

.homepage {
  padding: remify(48px) 0;

  @include respond-to(md) {
    padding: remify(116px) 0;
  }
  
  .main {
    &__header-wrapper {
      text-align: center;
      margin-bottom: remify(56px);
    }

    &__title {
      font-size: remify(28px);
      line-height: remify(32px);
      letter-spacing: remify(-0.588px);

      @include respond-to(md) {
        font-size: remify(48px);
        line-height: remify(48px);
        letter-spacing: remify(-1.44px);
      }
    }

    &__description {
      font-size: remify(18px);
      line-height: remify(24px);
      letter-spacing: remify(-0.198px);
    }
  }
}